.footer_link {
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
	margin-right: 18px;
	transition: opacity 0.3s ease 0s;
}

.footer_link:last-child {
	margin: 0;
}

.footer_link:hover {
	opacity: 0.8;
}

@media (max-width: 320px) {
  .footer_link {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 32px;
	}
}