.intro {
	max-width: 1032px;
	padding-left: 48px;
}

@media (max-width: 1024px) {
	.intro {
		max-width: 928px;
	}
}

@media (max-width: 768px) {
	.intro {
		max-width: 720px;
		padding: 0 24px 0;
	}
}

@media (max-width: 692px) {
	.intro {
		padding: 0 16px 0;
	}
}