.place {
	width: 100%;
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: 46.748% calc(53.252% - 40px);
	grid-gap: 48px 40px;
	grid-template-areas:
    "title website"
    "image main-text";
}

.place:last-child {
	margin: 0;
}