.video__container{
	padding: 72px 0 102px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 18px;
}

@media (max-width: 1024px) {
  .video__container {
	  gap: 16px;
	}
}

@media (max-width: 768px) {
  .video__container {
	  padding: 56px 0 102px;
	}
}

@media (max-width: 526px) {
  .video__container {
		padding: 24px 0 64px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	  gap: 8px;
	}
}